.idea/
.venv/
pandas-learn/winemag-data-130k-v2.csv
pandas-learn/winemag-data_first150k.csv
pandas-learn/CAvideos.csv
pandas-learn/GBvideos.csv
pandas-learn/openpowerlifting.csv
datacleaning-learn/NFL Play by Play 2009-2017 (v4).csv
datacleaning-learn/Building_Permits.csv
datacleaning-learn/ks-projects-201612.csv
datacleaning-learn/ks-projects-201801.csv
